* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.section {
max-width: 1664px;
max-height: 1543px;
}

.container {
width: 1500px;
height: 1415px;
padding: 0 15px;
margin: 0 auto;
background: linear-gradient(#FD749B , #281ac8);
position: relative;
}

.container:before {
  content: url("../image/path_4.2.png");
  position: relative;
  left: -15px;
  top: -93px;
}

.container:after {
  content: url("../image/path-4.3.png");
  position: relative;
  left: -15px;
  bottom: -493px;
}

/*.box {}*/

.promo {
  margin-top: 43px;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}

.promo__title {
  width: 327px;
  height: 84px;
  font-size: 28px;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  margin: 0 auto 28px;
}

.promo__separator {
  width: 50px;
  height: 7px;
  background-color: #FD749B;
  margin: 0 auto;
}

.promo__subtitle {
  width: 542px;
  height: 130px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: 45px auto 0;
}

.circle {
  background: #D8D8D8;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: absolute;
}

.circle_1 {
	width: 84px;
	height: 84px;
  left: 216px;
  top: 1022px;
}

.circle_2 {
	width: 138px;
	height: 138px;
  -moz-border-radius: 67px;
	-webkit-border-radius: 67px;
	border-radius: 67px;
  left: 304px;
  top: 873px;
}

.circle_3 {
	width: 68px;
	height: 68px;
  left: 490px;
  bottom: 455px;
}

.circle_4 {
	width: 45px;
	height: 45px;
  left: 456px;
  bottom: 332px;
}

.circle_5 {
	width: 58px;
	height: 58px;
  left: 564px;
  bottom: 386px;
}

.circle_6 {
	width: 65px;
	height: 65px;
  left: 689px;
  bottom: 450px;
}

.circle_7 {
	width: 84px;
	height: 84px;
  left: 658px;
  bottom: 320px;
}

.circle_8 {
	width: 84px;
	height: 84px;
  left: 835px;
  bottom: 388px;
}

.circle_9 {
	width: 45px;
	height: 45px;
  left: 961px;
  bottom: 370px;
}

.circle_10 {
	width: 84px;
	height: 84px;
  left: 984px;
  bottom: 457px;
}

.circle_11 {
	width: 84px;
	height: 84px;
  left: 995px;
  bottom: 233px;
}

.circle_12 {
	width: 84px;
	height: 84px;
  left: 1098px;
  bottom: 354px;
}

.circle_13 {
	width: 84px;
	height: 84px;
  left: 1198px;
  bottom: 537px;
}

.mask {
  position: absolute;
  left: 116px;
  top: 427px;
}

.mask_m {
  position: absolute;
  left: 1283px;
  top: 1139px;
  /*background-image: linear-gradient(#FD749B , #281ac8);
  background: linear-gradient(#FD749B , #281ac8);*/
  filter: brightness(80%);
}

.service-container {
  position: absolute;
  left: 773px;
  bottom: 293px;
}

.service-box {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 410px;
  height: 117px;
  background-color: #ece6ea;
  opacity: 0.9;
  border-radius: 15px;
  padding: 17px 0 17px 26px;
  position: relative;
}

.service-box__title {
  font-size: 14px;
  width: 152px;
  height: 22px;
}

/*.service-box__images {}*/

.service-box__images-star {
  text-decoration: none;
}

.service-box__subtitle {
  font-size: 12px;
  width: 420px;
  height: 36px;
}

.service-box__icon {
  position: absolute;
  right: 18px;
  top: 21px;
}

.service-box__triangle-left {
  width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 22px solid #ece6ea;
	border-bottom: 15px solid transparent;
  position: relative;
  bottom: 53px;
  right: 47px;
}

